<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mdocDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<!--         <property name="hibernate.cache.use_query_cache">true</property> -->
<!--         <property name="hibernate.cache.use_second_level_cache">true</property> -->
<!--         <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property> -->
<!--         <property name="hibernate.generate_statistics">true</property> -->
        
        <!-- <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property> -->
        
        <!-- ici on configure le comportement lors du lancement d'hibernate -->
        <!-- valeur = update i..e si les tables de la base n'existent pas 
        elles sont crees, sinon elles sont MAJ, 
        la valeur =create i.e. creation à chaque lancement  -->
        <property name="hbm2ddl.auto">create</property>
        <!-- mapping files/lien vers les fichiers de mapping -->
        <mapping resource="domain/impl/Contact.hbm.xml"/>
        <mapping resource="domain/impl/Address.hbm.xml"/>
        <mapping resource="domain/impl/PhoneNumber.hbm.xml"/>
        <mapping resource="domain/impl/ContactGroup.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
